

/* mobile styles */
@media screen and (max-width: 480px) { 



body{background-image:url(../css/pics/background.jpg); overflow-x:hidden; color:white; max-width:100%;}    /* bakgrund på hela bodyn, döljer horisental-scroll, sätter vitfärg på text i 
                                                                                                              bodyn, sätter max-bredden på 100% av sidans storlek */

h1 {	font-family: "Helvetica", sans-serif;  font-size: 1em; }                                   /*sätter teckensnitt och minskar textstorleken för h1-taggar i mobilversionen*/



img {max-width:100%;}      /*sätter max-bredden på 100% av sidans storlek för bilder*/
video {max-width:100%;}   /*sätter max-bredden på 100% av sidans storlek för videos*/

#Container {
	max-width: 100%;        /* sätter max-bredden på 100% av sidans storlek för containern*/
	height:auto;            /* sätter höjden på auto på alla sidor*/
	
}

h2, h3, h4, h5, h6 {                      /*Ändrar teckensnitt på förjande taggat*/
	font-family: Times, serif;

}



dd{word-wrap: break-word;}                  /*Bryter upp orden och anpassar dem efter sidans storlek, för dd taggen*/


#header {                                       /* Sätter höjd,bredd, border och border färg, samt marginaler för Headern */
    display: inline-block;              
	height:60px;
	width:100%;                                     
	margin-bottom:10px;
	border-bottom:2px solid #658F85;
	 
	
}

#header h1{                                     
    margin: auto;
	width:100%;
	padding-top:20px;
	display:inline-block;}

#header-mobile { font-size: 1em;}        /* Sätter storlek på header-mobile som finns i "Mina Laborationer"*/ 


#leftnav {                     /* Sätter max-bredden för vänstra navigationen på 100% av utrymmet, samt sätter den på vänster sida */
	max-width: 100%;
	float: left;     
}

#leftnav  ul {                       /*Tar bort punktmarkeringen i listan*/
	list-style:none;
}

#leftnav ul li {                  /*  Sätter menyns bakgrundsfärg, marginaler */
	width: auto;
	background:#4D7368;
	margin-bottom: 4px;
}

#leftnav ul li a {             /*Sätter meny textens färg samt marginaler mellan varrandra */                 
	display: block;
	color: #F2F2F2;  
	padding:4px 10px;
}

#leftnav ul li a:hover {        /* Anger färg på menyn vid aktivitet över menyfältet */
	color:#4D7368;
	background:#F2F2F2;
}

#button .active a{
	background: blue;         /* Sätter färgen vid aktivt läge */
}

#Content {           /* Sätter text stil på innehåll i content, break-word i hela dokumentet, max bredd på 100 % samt döljer scroll */
    font-family: Verdana, Arial, Helvetica, sans-serif;
	word-wrap: break-word;
	max-width: 100%;
    overflow-x:hidden;
}

td {
    font-family: Arial, Helvetica, sans-serif;            /* Sätter textstil samt minskar storleken på tabellen */
    font-size:10px; max-width: 100%;                    
}

th {                                                      /* Sätter textstil samt minskar storleken på tabellen */
    font-family: Arial, Helvetica, sans-serif;
    font-size:10px; max-width: 100%; }

#mobile {max-width:100%;}                                 /* max bredd på formuläret */

#footer{ max-width:100%; padding: 5px;}                   /* anger marginal + bredd på footern*/
}








