@charset "UTF-8";
/* CSS Dokument*/


#container {
    
   height: 960px;
	width: 1200px;
}

#header {
    background-color : red;
    width: 900px;
    height: 100px;
    position: relative;
    background-image: url(pics/header.jpg);
    border-bottom: 2px solid #000000;
    
}
#rightnav {
    
    float:right;
    width: 140px;
    height: 400px;
    background-color: #09F;
    border-left: 1px dashed #694717;
    }
#body {
    margin:auto;
    width:600px;
    padding:10px 0px 0px 10px;
}

#leftnav {
    
    float:left;
    width: 140px;
    height: 400px;
    background-color: #09F;
    border-right: 1px dashed #694717;
}


#footer {
	clear: both;
   background-color:#6CF;
}






